
html, body {
	padding: 0;
	margin: 0;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    background-image:url(https://wallpaperscraft.com/image/patterns_paper_background_texture_18535_2048x1152.jpg);
    background-position:top left;
    background-repeat:repeat;
    background-attachment: fixed;
}


.container-picture, .container-text {
	padding: 0;
	margin: 0 auto;
}

.blue {
	background-color: rgba(0,0,102, 0.8);
	text-align: center;
	color: rgba(255, 255, 240, 1);
}

.white {
	background-color: rgba(255, 255, 240, 0.8);
	text-align: center;
	color: rgba(0,0,102, 1);
}

.language {
	text-align: center;
	text-transform: capitalize;
	padding: 25px;
}

.btn {
	border: 1.5px solid rgba(0,0,102,1);
	border-radius: 5px;
	padding: 3px 20px;
	margin-left: 20px;
}

h2 {
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 5px;
}

a:link {
	text-decoration: none;
	text-transform: capitalize;
}

a:hover {
	background-color: rgba(128,0,128, 0.8);
	color: white;
}

.container-picture {
	height: 400px;
	width: 500px;
	display: inline-block;
	text-align: center;
}

.container-picture img {
	position: relative;
	top: 35px;
	height: 75%;
	max-width: 90%;
	border: 10px solid white;
	border-radius: 3px;
}

.container-text {
	width: 500px;
	padding: 50px 15px 50px 15px;
	display: inline-block;
	vertical-align: top;
}

.form-field {
  width: 250px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 1em;
  color: #484848;
}

.rsvp-section {
  text-align: center;
  padding-bottom: 20px;
  margin: auto;
  overflow: auto;
}

.option-separate {
  padding: 10px;
}

.error {
  color: #FF0000;
}
