/* Jumbotron */

body {
	font-family: 'Fjalla One', sans-serif;
}

.jumbotron {
	background: url("../images/Palm-Trees-and-Moon.jpg") no-repeat center;
	color: white;
	text-shadow: 3px 3px 3px black;
	height: 100vh;
	padding-top: 20px;
	margin-bottom: 0;
}

.jumbotron-logo {
	text-align: center;
}

.jumbotron-logo img {
	width: 300px;
	padding-bottom: 10px;
}

.jumbotron .container h1 {
	font-size: 7em;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: right;
}

.jumbotron .container p {
	text-align: right;
	font-size: 1.8em;
	padding-bottom: 10px;
}

.jumbotron .container span {
	padding-top: 20px;
}

/* NavBar */

#nav {
	background-color: black;
}

.navbar-default .navbar-nav>li>a {
	color: #666B6E;
}

/**** MEDIA *****/

/*** Large Desktops ****/

@media (min-width: 1170px) {
	.jumbotron .container img {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

/***** Mobile *****/
@media (max-width: 766px) {
	.jumbotron-logo img {
		padding-top: 5vw;
		width: 70vw;
		padding-bottom: 4vw;
	}

	.jumbotron .container h1 {
		font-size: 20vw;
		margin-bottom: 8vw;
	}

	.jumbotron .container p {
		font-size: 5vw;
		padding-bottom: 0.5vw;
	}
}

/*** Rotated phones ***/

@media (max-width: 766px) and (orientation:landscape) {
	.jumbotron .container img {
		padding-top: 2vw;
		width: 15vw;
		padding-bottom: 2vw;
	}

	.jumbotron .container h1 {
		font-size: 7vw;
		margin-bottom: 20px;
	}

	.jumbotron .container p {
		font-size: 2.4vw;
		padding-bottom: 0.5vw;
	}
}

/*** Portrait Tablets ***/

@media (min-width: 767px) and (max-width: 991px) and (orientation:portrait) {
	.jumbotron .container img {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.jumbotron {
		height: 100%;
	}

}